*~
*.o
*.a

# executable
/bin/
/libooc/bin/
/tests/bin/

# autotools

.deps
aclocal.m4
autom4te.cache
autoscan.log
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh*
Makefile
Makefile.in
missing
stamp-h1
test-driver

# vim

*.swp
